<section class="action-plan">
  <h3 class="text-center uppercase">План Мероприятий</h3>
  <div class="heart content-style"></div>
  <div class="content text-center">
    <div class="col-md-6 restaurant">
      <img src="https://lh3.googleusercontent.com/-NMthzn-4seM/VRAZ8PPyG_I/AAAAAAAACKM/JlfHyCaohFIKNt9FwNi60nKPB2voRV2CQCHMYBhgL/HX6A5486.jpg?imgmax=1024">
    </div>
    <div class="col-md-6 event-list">
      <div class="event-block">
        <b class="uppercase">1. Церемония бракосочетания</b>
        <small class="event-datetime">07.09.2018 12:00</small>
        <address>центральный парк имени М.Горького</address>
        Встречаемся возле кинотеатра Парк
      </div>
      <div class="event-block">
        <b class="uppercase">2. Праздничная фотосессия в парке</b>
        <small class="event-datetime">07.09.2018 13:00</small>
        </div>
      <div class="event-block">
        <b class="uppercase">2. Ресторан "Росинка"</b>
        <small class="event-datetime">07.09.2018 15:00</small>
          <address>улица Балакирева 52</address>
        </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
