{% load staticfiles %}
<div class="newlyweds text-center">
  <div class="content">
  <div class="col-md-6">
    <div class="young">Жених</div>
    <img class="img-circle" src="{% static 'media/imgonline-com-ua-Resize-F06Drrxa56ZbXHqR.jpg' %}" width="300" alt="">
    <div class="young-name">Виталий Олегович</div>
  </div>
  <div class="col-md-6">
    <div class="young">Невеста</div>
    <img class="img-circle" src="{% static 'media/imgonline-com-ua-Resize-Y5IplhE3W7FjSf.jpg' %}" width="300" alt="">
    <div class="young-name">Валерия Валериевна</div>
  </div>
  <div class="clearfix"></div>
    </div>
</div>
