<div class="newlyweds text-center">
  <div class="col-md-6">
    <div class="young">Жених</div>
    <img class="img-circle" src="https://lh3.googleusercontent.com/vB5eP8KGBBTE9_8C1LERIczjNnpNaNXhZhbrWTo9HDOcH9YWoLHs-nAKLER3XnfOhgSyxFro2fUoJV1A7IlI-hzAtybkgWlRQgU664RZ7aXmFxEbCAu1GW72YPPMN6uuc_32mRofXNKdLT8jThD2RUxefdzsJXsEHeje6tx1Lnnc3Jn7dEBKm194D-Of6BiHqkH3U2uk3-6gr6T1sGWecwuktZgpZsDvzmyYdH18_tdBgQPz5w-KgphSYdreWnLUNTfL8yCS2MTwr6MHrmMjFanvN_OhGX7F1UyoBVwJJxX_OzEPCh-bvQDTpiZ4StEXje20rbgEClcvE_eowB2rwIzA9FhbQN2raNeOcWZ9BlfPXF3XTwjwsjFMO7BUSPexrNYfvix-zcRjUBlSrqRni8yS1HGIN9Dj9HC9yMnGihe2A4IrqTeI2i_EFGu2QVQM-933NzNncu5EpXey09ZvOa4CjocEZ6hfqMTQTmAvlC_RQJXNv7lu2Bh8lhvWVZueQnjaDpJ00uwjUrFOBDi6lcIZi8zWfnxtSN3aGoAKlA7WMA9yvCT_ukZUz7cdscqEVRNUsqqL2Z9FL3n6EdnELZ3MOlTD3ekEfZRxca4=s300-no" width="300" alt="">
    <div class="young-name">Виталий Олегович</div>
  </div>
  <div class="col-md-6">
    <div class="young">Невеста</div>
    <img class="img-circle" src="https://lh3.googleusercontent.com/JGJDN2uVItD0FiVpveeqv8JJ86Ln5lOA2HLo32t3_wpbYzkbrhWCbof70ENng416HVIJX_akg-BnNVdUrH-kWw4TJtVGx89dvBZR9u5YdxiVinvR9u1wLvpFQG_WEFeAHII1gy64Ih1qIG1eoPckVQIaG8ggRSln764QXd5t58BT6nkiJno3phhT0YDZ3krV5GcICJv6v0t5U483H3Gx4_ejKiF9YuwK9mXaBiyRIXF3I5yZkBpHwXzwI0h-IzTAaTNMk86vs-gTFyY4AhmOh1tHGUwiYCiP-8kdWslpG2ehRK6lrO9yJs8oWbBfpKbmUsl4Wb7k8xXeN7-WZxyBZDIcCHXNSqjPylrgkKmJO1dcFzQNQPWbX3hqJrLXH39YLqfAxUn_sGUY8e5yOO1omD1NSZ-WSckQFTe_pmeMA63HKMDvzaWj0DYoVsqBgWtMcy0vEzpy_SIU47JHMDVfUcxIPxRE4k2dSKB9Tl731iBZGYauUuSVtApiXAw2S9YuEsu4S0lYX0Awn8V7ImSdvThAFZ0nfF7WFFEcWqJikZu6wG6TafAEHCr71D_q-pg8AhsnbbwWpYtm8vIPc9VyxK25AkqpODYcsm8DtIM=s300-no" width="300" alt="">
    <div class="young-name">Валерия Валериевна</div>
  </div>
  <div class="clearfix"></div>
</div>
