<section class="photobook">
  <h3 class="text-center uppercase">Фотокнига</h3>
  <div class="heart content-style"></div>
  <div class="album">
    <div class="album-item">
      <img class="img-responsive" src="https://wedpost.ru/uploads/3/1280_af15e6cc75a44e1056d37f52e4057c09.jpg">
    </div>
      <div class="album-item">
        <img class="img-responsive" src="https://wedpost.ru/uploads/3/1280_e947f57779388c91998b55ccded3acea.jpg">
      </div>
      <div class="album-item">
         <img class="img-responsive" src="https://wedpost.ru/uploads/3/1280_f4c6572bf7c7970bbe7377aacc2646c8.jpg" alt="">
       </div>
      <div class="album-item">
        <img class="img-responsive" src="https://wedpost.ru/uploads/3/1280_d280962b874bfd6a25b9086c5949126f.jpg" alt="">
      </div>
      <div class="album-item">
        <img class="img-responsive" src="https://wedpost.ru/uploads/3/1280_e947f57779388c91998b55ccded3acea.jpg" alt="">
      </div>
      <div class="album-item">
        <img class="img-responsive" src="https://wedpost.ru/uploads/3/1280_464c41b009d4901dce6585a6c3381062.jpg" alt="">
      </div>
      <div class="album-item">
        <img class="img-responsive" src="https://wedpost.ru/uploads/3/1280_889f17c0c2d36e114314ea9f54ba210a.jpg" alt="">
      </div>
      <div class="album-item">
        <img class="img-responsive" src="https://wedpost.ru/uploads/3/1280_3aa9f9f289db7b3edacff80459356ea1.jpg" alt="">
      </div>
    </div>
  </section>
